* {
  box-sizing: border-box;
  
}

body {

  background-color: #48d3dd;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {

  border-radius: 10px;
  margin-right: 40%;
}
h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;

}

.cabecalho {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;

  width: 1200px;
  height: 120px;
  border-bottom: 2px solid azure;
}

.titulo {

  display: inline-block;

}

ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.menu > li{
  padding: 5px;
  display: inline-block;
  border: 1px solid azure ;
  border-radius: 5px;
}

.container{
  width: 1200px;
  text-align: justify;
  color: #ffffff;
  
  margin:0 auto;
  

}


    
}

.corpo {

  margin: 10px;
  padding: 5px;
  background-color: rgb(83, 143, 158);
  color: #ffffff;
}


.botao-menu {
  display: inline-block;
  background-color: #48d3dd;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 10px;

}

.botao-menu:hover, .botao-menu:focus{
  background-color: aqua;
  
}


